# ----------------------------
# Python
# ----------------------------

__pycache__/
*.py[cod]

# ----------------------------
# Virtual environments
# ----------------------------

venv/
.venv/

# ----------------------------
# IDE
# ----------------------------

.vscode/
.idea/

# ----------------------------
# macOS
# ----------------------------

.DS_Store

# ----------------------------
# Testing
# ----------------------------

.coverage
htmlcov/
.pytest_cache/


.env